@media only screen and (max-width: 1540px){

    .featured-section .vector-layer-two,
    .products-section-three .side-title,
    .main-header .info-list{
        display:none;
    }

    .header-style-two .options-box{
        margin-left:var(--margin-left-20);
    }

    .main-header .options-box{
        margin-right:var(--margin-zero);
    }

    .main-header.header-style-two .main-menu .navigation > li{
        margin-right:var(--margin-right-25);
    }

}

@media only screen and (max-width: 1340px){

    .page-wrapper{
        overflow:hidden;
    }

    .main-header .main-menu .navigation > li{
        margin-right:var(--margin-right-25);
    }

}

@media only screen and (max-width: 1200px){

    .main-header .cart-box,
    .shop-item .price::before,
    .main-header .search-box-two,
    .main-header .select-categories,
    .featured-section .vector-layer-two,
    .sponsors-section .feature-icon,
    .main-footer .pattern-layer-one{
        display:none;
    }

    .filter-box .right-box{
        margin-top:var(--margin-top-15);
    }
    .shop-item .price{
        font-size: var(--font-13);
    }

    .main-header .options-box{
        margin-right:var(--margin-zero);
    }

}

@media only screen and (max-width: 1140px){

    .page-wrapper{
        overflow:hidden;
    }

    h3{
        font-size:var(--font-30);
    }

    h2{
        font-size:var(--font-36);
    }

    .main-header .main-menu .navigation > li{
        margin-right:var(--margin-right-20);
    }

    .shop-detail-section .content-column .inner-column{
        padding-left:var(--padding-zero);
    }

    .shoping-cart-section .cart-outer{
        overflow-x: auto;
    }

    .main-header .header-upper .search-box{
        width:600px;
    }

    .shop-detail-section .prod-tabs .tab-btns .tab-btn{
        margin-right:var(--margin-right-15);
    }

}

@media only screen and (min-width: 768px){

    .main-menu .navigation > li > ul,
    .main-menu .navigation > li > ul > li > ul{
        display:block !important;
        visibility:hidden;
        opacity:0;
    }

}

@media only screen and (max-width: 1023px){

    .main-header .main-box .logo-box {
        position:relative;
        left:0;
        top:0;
        right:0;
        bottom:0;
        margin:0;
        text-align:left;
    }

    .main-menu .navigation > li > a{
        font-size:14px;
    }

    .main-header .main-menu .navigation > li{
        margin-right:var(--margin-right-25);
    }

    .main-header .header-upper .logo-box{
        margin: 0;
        padding:0;
    }

    .main-header .sticky-header .logo{
        padding:10px 0 10px;
    }

    .main-header{
        position:relative;
    }

    .main-menu .navigation > li > a{
        text-transform:capitalize;
    }

    .main-header .main-menu .navigation > li > a{
        padding:20px 0;
    }

    .main-header .outer-box{
        display:none;
    }

    h1{
        font-size:var(--font-60);
    }

    .mCSB_inside > .mCSB_container{
        margin-right:var(--margin-zero);
    }

    .main-header .main-menu{
        display:none;
    }

    .main-header .sticky-header .mobile-nav-toggler{
        display:block;
    }

    .main-header .mobile-nav-toggler{
        display:block;
        margin-left:var(--margin-left-15);
    }

    #navbarSupportedContent {
        display: block;
    }

    .main-header .logo-box{
        padding:15px 0;
    }

    .sidebar-page-container .sidebar-side.left-sidebar{
        order:2;
    }

    .sidebar-page-container .content-side.right-sidebar{
        order:1;
    }

    .filter-box .pages-list li{
        margin-left:var(--margin-zero);
        margin-right:var(--margin-right-15);
    }

    .filter-box .pages-list li:last-child{
        margin-right:var(--margin-zero);
    }

    .shop-detail-section .content-column{
        order:1;
    }

    .shop-detail-section .gallery-column{
        order:2;
    }

    .shop-detail-section .gallery-column .thumbs-carousel{
        display:none;
    }

    .shop-detail-section .gallery-column .carousel-outer{
        padding-right:var(--padding-zero);
    }

    .shop-detail-section .list-two{
        margin-top:var(--margin-top-20);
    }

    .error-section h1{
        font-size:var(--font-100);
    }

    .error-section h2{
        font-size:var(--font-24);
    }

    .error-section .text{
        margin-top:var(--margin-top-15);
    }

    .main-header .sticky-header .mobile-nav-toggler{
        padding:18px 0;
    }

    .main-slider .hover-box{
        display:none;
    }

    .main-slider .slide{
        padding-top:var(--padding-top-120);
    }

    .main-footer .footer-bottom .cards{
        width:100%;
        text-align:center;
        margin-top:var(--margin-top-15);
    }

    .main-header .logo-box::before{
        bottom:0;
    }

    .main-header .header-lower .upper-right{
        margin-left:var(--margin-zero);
    }

    .main-header .info-box{
        border:none;
        margin-left:var(--margin-zero);
    }

    .main-header.header-style-two .logo-box::before{
        bottom:0;
    }

    .main-header .header-lower .upper-right{
        display:none;
    }

    .main-header.header-style-two .upper-box{
        padding:var(--padding-zero);
    }

    .main-footer.style-two .copyright{
        width:100%;
        text-align:center;
    }

    .main-footer .footer-bottom-nav{
        width:100%;
        text-align:center;
        margin-top:var(--margin-top-10);
    }

    .main-header .header-upper .search-box{
        width:100%;
    }

    .main-header.header-style-three .options-box{
        display:none !important;
    }

    .main-header .select-categories{
        display:block;
    }

    .main-header .select-categories .categories-list{
        height: 20%;
        opacity: 0;
        visibility: hidden;
    }

    .main-header.header-style-three .header-lower{
        padding:10px 0;
    }

    .shop-detail-section .prod-tabs .tab-btns .tab-btn{
        margin-bottom:var(--margin-bottom-20);
    }
}

@media only screen and (max-width: 767px){

    .header-upper .logo-outer {
        position:relative;
        left:0;
        top:0;
        right:0;
        bottom:0;
        width:100%;
        margin:0;
    }

    .main-header .sticky-header .outer-box{
        display:block;
        right: 15px;
        left: auto;
        top:0;
    }

    .nav-outer .mobile-nav-toggler{
        display: block;
        padding: 8px 0;
        margin: 0 0 0 20px;
    }

    #navbarSupportedContent{
        display:block;
    }

    .mCSB_inside > .mCSB_container{
        margin-right:0;
    }

    .main-header .main-menu{
        display:none;
    }

    h2{
        font-size:var(--font-34);
    }

    h1 {
        font-size: var(--font-44);
        line-height:54px;
    }

    h4{
        font-size: var(--font-20);
    }

    .page-title{
        padding:100px 0;
    }

    .main-header .nav-outer .mobile-nav-toggler{
        display:block;
        z-index:99;
    }

    .sec-title .text br{
        display:none;
    }

    .filter-box{
        padding:25px 20px 5px;
    }

    .filter-box .left-box{
        display:block !important;
    }

    .filter-box .results{
        margin-right:var(--margin-zero);
        margin-bottom:var(--margin-bottom-15);
    }

    .filter-box .left-box .form-group{
        width:100%;
        max-width:250px;
        margin-right:var(--margin-zero);
        margin-bottom:var(--margin-bottom-15);
    }

    .main-slider-three .vector-icon,
    .collection-section-two .collection-tabs .feature-icon,
    .tracker-section .inner-container:before{
        display:none;
    }

    .main-slider-three .image{
        padding-left:var(--padding-left-20);
        padding-right:var(--padding-zero);
    }

}

@media only screen and (max-width: 599px){

    h1 {
        font-size: var(--font-34);
    }

    .filter-box{
        padding:var(--padding-zero);
    }

    .shop-detail-section .comments-area .comment{
        padding-left:var(--padding-zero);
    }

    .shop-detail-section .comments-area .comment-box .author-thumb{
        position:relative;
    }

    .shop-detail-section .comments-area .comment .comment-inner .rating{
        position:relative;
        right:0;
        top:0;
        margin-bottom:var(--margin-bottom-5);
    }

    .sale-block .off,
    .main-slider .vector-icon,
    .main-slider h1 br,
    .main-slider-three .circle-box,
    .header-style-three .social-box{
        display:none;
    }

    .category-list-two li .number,
    .sale-section-two .collection,
    .collection-section-two .hover-box,
    .main-slider-two .content-box .pattern-layer{
        display:none;
    }

    .main-slider-three .content-column .inner-column {
        padding-top: var(--padding-top-80);
        padding-left: var(--padding-left-20);
    }

    .main-header.header-style-three .header-lower .outer-box{
        width:100%;
        display:block !important;
    }

    .main-header.header-style-three .header-lower .outer-box .language{
        padding-left:var(--padding-zero);
    }

    .main-header.header-style-three .header-lower .nav-outer .mobile-nav-toggler{
        padding:var(--padding-zero);
    }

    .main-footer .widgets-section .text br,
    .main-header .select-categories{
        display:none;
    }

    .main-slider-three .image{
        margin-top:var(--margin-top-30);
    }

}

@media only screen and (max-width: 479px) {

    h1 {
        font-size: var(--font-26);
        line-height:38px;
    }

    h2{
        font-size: var(--font-24);
    }

    h3 {
        font-size: var(--font-22);
    }

    h5 {
        font-size: var(--font-18);
    }

    .main-header .language,
    .sale-block .sale-box,
    .main-header .options-box .user-box,
    .main-header .like-box{
        display:none;
    }

    .main-header .options-box .search-box-btn{
        margin-right: var(--margin-right-10);
    }

    .main-header .form-group .ui-selectmenu-button.ui-button{
        position:relative;
        width:100%;
        padding-left:var(--padding-zero);
        margin-bottom:var(--margin-bottom-15);
        border-bottom:1px solid rgba(var(--black-color-rgb), 0.06);
    }

    .main-header .header-upper .search-box .form-group input[type="text"],
    .main-header .header-upper .search-box .form-group input[type="search"]{
        padding:15px 25px;
    }

    .main-header .header-upper .search-box .form-group button{
        position:relative;
        width:100%;
        margin-top:var(--margin-top-15);
    }

    .filter-box .pages-list li a{
        width:42px;
    }

    .filter-box .pages-list li:first-child{
        margin-right:var(--margin-zero);
    }

    .shop-detail-section .prod-tabs .tab-btns .tab-btn{
        width:100%;
        text-align:center;
        margin-right:var(--margin-zero);
    }
}