<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head th:insert="~{blocks/head :: head}"></head>
<!-- End Head -->

<body>
<div class="page-wrapper">
    <!-- Header -->
    <header class="main-header header-style-three" th:insert="~{blocks/header :: header}"></header>
    <!-- End Header -->

    <!-- Admin panel Section -->
    <div class="account-section">
        <div class="auto-container">
            <div class="inner-container">
                <div class="row clearfix">
                    <div class="column col-lg-8 col-md-12 col-sm-12">
                        <div class="buttons-box">
                            <a href="/users-admin" class="theme-btn account-btn">
                                Users
                            </a>
                            <a href="/products-admin" class="theme-btn account-btn">
                                Products
                            </a>
                            <a href="/categories-admin" class="theme-btn account-btn">
                                Categories
                            </a>
                            <a href="/orders-admin" class="theme-btn account-btn">
                                Orders
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Admin panel Section -->

    <!-- Footer -->
    <footer class="main-footer style-three" th:insert="~{blocks/footer :: footer}"></footer>
    <!-- End Footer -->
</div>
<!-- End PageWrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" th:style="|background:url(@{/images/icons/arrow-up.jpg});|"
     data-target="html"></div>
<!-- End Scroll To Top -->

<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>
</html>