<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<!-- Head -->
<head th:insert="~{blocks/head :: head}"></head>
<!-- End Head -->

<body>
<div class="page-wrapper">
    <!-- Header -->
    <header class="main-header header-style-three" th:insert="~{blocks/header :: header}"></header>
    <!-- End Header -->

    <section class="shoping-cart-section" th:if="${#lists.size(cartItemDtos)} == 0">
        <h4 class="h4-custom-class-margin">Your cart is empty. Let's go shopping!</h4>
    </section>

    <!-- Cart Section -->
    <section class="shoping-cart-section" th:if="${#lists.size(cartItemDtos)} != 0">
        <div class="auto-container">
            <div class="row clearfix">
                <!-- Cart Column -->
                <div class="cart-column col-lg-8 col-md-12 col-sm-12">
                    <h4 style="color: red;" th:if="${param.lowquantity}">Not enough product in stock</h4>
                    <div class="inner-column">
                        <!--Cart Outer-->
                        <div class="cart-outer">
                            <div class="table-outer">
                                <table class="cart-table">
                                    <thead class="cart-header">
                                    <tr>
                                        <th class="prod-column">Product</th>
                                        <th>&nbsp;</th>
                                        <th>Price</th>
                                        <th>Quantity</th>
                                        <th>Total</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    <tr th:each="cartItemDto: ${cartItemDtos}">
                                        <td colspan="2" class="prod-column">
                                            <div class="column-box">
                                                <figure class="prod-thumb">
                                                    <form th:method="delete" th:action="@{/cart}">
                                                        <input type="hidden" name="_method" value="delete">
                                                        <input type="hidden" name="cartItemID"
                                                               th:value="${cartItemDto.getCartItemID()}">
                                                        <button type="submit"
                                                                class="cross-icon"
                                                                th:style="|background-image:url(@{/images/icons/cross-icon.jpg})|">
                                                        </button>
                                                    </form>
                                                    <a th:href="'/products/' + ${cartItemDto.getProductID()}"><img
                                                            th:src="${'data:image/png;base64,' + cartItemDto.getImageString()}"
                                                            alt=""></a>
                                                </figure>
                                                <h6 class="prod-title"
                                                    th:text="${cartItemDto.getProductName()}"></h6>
                                                <div class="prod-text"
                                                     th:text="'Color: ' + ${cartItemDto.getColor()}"></div>
                                            </div>
                                        </td>
                                        <td class="price" th:text="'$' + ${cartItemDto.getPrice()}"></td>
                                        <!-- Quantity Box -->
                                        <td class="quantity-box">
                                            <div class="item-quantity">
                                                <form th:method="put" th:action="@{/cart}">
                                                    <input type="hidden" name="_method" value="put">
                                                    <input type="hidden" name="cartItemID"
                                                           th:value="${cartItemDto.getCartItemID()}">

                                                    <input type="number" min="0" th:value="${cartItemDto.getQuantity()}"
                                                           name="cartQuantity" class="input-quantity-shop">

                                                    <button style="width: 100%;" type="submit">Change</button>
                                                </form>
                                            </div>
                                        </td>
                                        <td class="sub-total" th:text="'$' + ${cartItemDto.getTotals()}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Total Column -->
                <div class="total-column col-lg-4 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <!-- Cart Total Outer -->
                        <div class="cart-total-outer">
                            <!-- Title Box -->
                            <div class="title-box">
                                <h6>Cart Totals</h6>
                            </div>
                            <div class="cart-total-box">
                                <ul class="cart-totals">
                                    <li>Totals : <span th:text="'$' + ${allTotal}"></span></li>
                                </ul>
                                <!-- Buttons Box -->
                                <div class="buttons-box">
                                    <a href="/checkout" class="theme-btn proceed-btn">
                                        Proceed To Checkout
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Cart Section -->

    <!-- Footer -->
    <footer class="main-footer style-three" th:insert="~{blocks/footer :: footer}"></footer>
    <!-- End Footer -->
</div>

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" th:style="|background:url(@{/images/icons/arrow-up.jpg});|"
     data-target="html"></div>
<!-- End Scroll To Top -->

<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>
</html>