<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head th:insert="~{blocks/head :: head}"></head>
<!-- End Head -->

<body>

<div class="page-wrapper">
    <!-- Header -->
    <header class="main-header header-style-three" th:insert="~{blocks/header :: header}"></header>
    <!-- End Header -->

    <!-- Checkout Section -->
    <section class="checkout-section">
        <form th:method="post" th:action="@{/checkout}" th:object="${addressDto}">
            <div class="auto-container">
                <div class="row clearfix">
                    <!-- Form Column -->
                    <div class="form-column col-lg-8 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h4>Delivery information</h4>
                            <h4 style="color: red;" th:if="${param.lowbalance}">Not enough balance</h4>
                            <h4 style="color: red;" th:if="${param.fail}">Validation failed</h4>
                            <!-- Shipping Form -->
                            <div class="shipping-form">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="text" name="street" placeholder="Enter your street"
                                               required="required">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="number" name="house" placeholder="Enter number of your house"
                                               required="required" class="input-numbers-cart">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="number" name="floor" placeholder="Enter number of your floor"
                                               required="required" class="input-numbers-cart">
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="number" name="apartment" placeholder="Enter number of your apartment"
                                               required="required" class="input-numbers-cart">
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <textarea class="" name="message"
                                                  placeholder="Enter message (optional)"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- End Shipping Form -->
                        </div>
                    </div>

                    <!-- Order Column -->
                    <div class="order-column col-lg-4 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <h4>Order summary</h4>
                            <!-- Order Box -->
                            <div class="order-box">
                                <ul class="order-totals">
                                    <li>Subtotal<span th:text="'$' + ${sumCartItems}"></span></li>
                                    <li>Shipping Fee<span th:text="'$' + ${shippingFee}"></span></li>
                                </ul>
                                <!-- Order Total -->
                                <div class="order-total">Total <span th:text="'$' + ${total}"></span></div>
                                <div class="button-box">
                                    <input type="hidden" name="totalToPay" th:value="${total}">
                                    <button class="theme-btn pay-btn" type="submit">
                                        Proceed to pay
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
    <!-- End Checkout Section -->

    <!-- Footer -->
    <footer class="main-footer style-three" th:insert="~{blocks/footer :: footer}"></footer>
    <!-- End Footer -->
</div>

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" th:style="|background:url(@{/images/icons/arrow-up.jpg});|"
     data-target="html"></div>
<!-- End Scroll To Top -->

<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>
</html>