<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head th:insert="~{blocks/head :: head}"></head>
<!-- End Head -->

<body>

<div class="page-wrapper">
    <!-- Header -->
    <header class="main-header header-style-three" th:insert="~{blocks/header :: header}"></header>
    <!-- End Header -->

    <!-- Edit user Section -->
    <div class="register-section">
        <div class="auto-container">
            <div class="inner-container">
                <div class="row clearfix">
                    <div class="column col-lg-8 col-md-12 col-sm-12">
                        <div class="styled-form">
                            <h4>Edit user information</h4>
                            <h4 style="color: red;" th:if="${param.exist}">User with this email exist</h4>
                            <h4 style="color: red;" th:if="${param.fail}">Validation failed</h4>
                            <form th:method="put" th:action="@{/edit-user}" th:object="${user}">
                                <input type="hidden" name="_method" value="put">
                                <input type="hidden" name="userTableID" th:value="${user.userTableID}"/>
                                <div class="form-group">
                                    <label>Your first name</label>
                                    <input type="text" name="firstname" th:value="${user.firstname}" placeholder="Enter your first name"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label>Your last name</label>
                                    <input type="text" name="lastname" th:value="${user.lastname}" placeholder="Enter your last name"
                                           required>
                                </div>
                                <div class="form-group">
                                    <label>Your email address</label>
                                    <input type="email" name="email" th:value="${user.email}"
                                           placeholder="Enter your email address" required>
                                </div>
                                <div class="form-group">
                                    <label>Your phone number</label>
                                    <input type="text" name="phoneNumber" th:value="${user.phoneNumber}"
                                           placeholder="Enter your phone number" required>
                                </div>
                                <div class="form-group">
                                    <label>New password</label>
                                    <input type="password" name="userPassword" value=""
                                           placeholder="Enter your password">
                                </div>
                                <div class="form-group">
                                    <button th:type="submit" class="theme-btn btn-style-one">
                                        Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Edit user Section -->

    <!-- Footer -->
    <footer class="main-footer style-three" th:insert="~{blocks/footer :: footer}"></footer>
    <!-- End Footer -->
</div>

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" th:style="|background:url(@{/images/icons/arrow-up.jpg});|"
     data-target="html"></div>
<!-- End Scroll To Top -->

<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>
</html>