<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head th:insert="~{blocks/head :: head}"></head>
<!-- End Head -->

<body>

<div class="page-wrapper">

    <!-- Header -->
    <header class="main-header header-style-three" th:insert="~{blocks/header :: header}"></header>
    <!-- End Header -->

    <!-- Login Section -->
    <div class="register-section">
        <div class="auto-container">
            <div class="inner-container">
                <div class="row clearfix">
                    <div class="column col-lg-8 col-md-12 col-sm-12">
                        <div class="styled-form">
                            <h4>Login here</h4>
                            <form method="post" action="/login">
                                <div class="form-group">
                                    <label>Email address</label>
                                    <input type="email" th:name="email" placeholder="Enter email address"
                                           required>
                                </div>

                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" th:name="userPassword" placeholder="Enter password"
                                           required>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="theme-btn btn-style-one">
                                        Login
                                    </button>
                                </div>
                                <br><br><br>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Login Section -->

    <!-- Footer -->
    <footer class="main-footer style-three" th:insert="~{blocks/footer :: footer}"></footer>
    <!-- End Footer -->

</div>

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" th:style="|background:url(@{/images/icons/arrow-up.jpg});|"
     data-target="html"></div>
<!-- End Scroll To Top -->

<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>
</html>