<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head th:insert="~{blocks/head :: head}"></head>
<!-- End Head -->

<body>

<div class="page-wrapper">

    <!-- Header -->
    <header class="main-header header-style-three" th:insert="~{blocks/header :: header}"></header>
    <!-- End Header -->

    <!-- Shop Detail Section -->
    <section class="shop-detail-section">
        <div class="auto-container">
            <!-- Upper Box -->
            <div class="upper-box">
                <div class="row clearfix">
                    <!-- Gallery Column -->
                    <div class="gallery-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <div class="carousel-outer">
                                <!-- Swiper -->
                                <div class="swiper-container content-carousel">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <figure class="image"><a th:href="@{/images/resource/products/table1.jpg}"
                                                                     class="lightbox-image"><img
                                                    th:src="@{/images/resource/products/table1.jpg}" alt=""></a>
                                            </figure>
                                        </div>
                                        <div class="swiper-slide">
                                            <figure class="image"><a th:href="@{/images/resource/products/table1.jpg}"
                                                                     class="lightbox-image"><img
                                                    th:src="@{/images/resource/products/table1.jpg}" alt=""></a>
                                            </figure>
                                        </div>
                                        <div class="swiper-slide">
                                            <figure class="image"><a th:href="@{/images/resource/products/table1.jpg}"
                                                                     class="lightbox-image"><img
                                                    th:src="@{/images/resource/products/table1.jpg}" alt=""></a>
                                            </figure>
                                        </div>
                                        <div class="swiper-slide">
                                            <figure class="image"><a th:href="@{/images/resource/products/table1.jpg}"
                                                                     class="lightbox-image"><img
                                                    th:src="@{/images/resource/products/table1.jpg}" alt=""></a>
                                            </figure>
                                        </div>
                                        <div class="swiper-slide">
                                            <figure class="image"><a th:href="@{/images/resource/products/table1.jpg}"
                                                                     class="lightbox-image"><img
                                                    th:src="@{/images/resource/products/table1.jpg}" alt=""></a>
                                            </figure>
                                        </div>
                                    </div>
                                </div>

                                <div class="swiper-container thumbs-carousel">
                                    <div class="swiper-wrapper">
                                        <div class="swiper-slide">
                                            <figure class="thumb"><img th:src="@{/images/resource/products/table1.jpg}"
                                                                       alt="">
                                            </figure>
                                        </div>
                                        <div class="swiper-slide">
                                            <figure class="thumb"><img th:src="@{/images/resource/products/table1.jpg}"
                                                                       alt="">
                                            </figure>
                                        </div>
                                        <div class="swiper-slide">
                                            <figure class="thumb"><img th:src="@{/images/resource/products/table1.jpg}"
                                                                       alt="">
                                            </figure>
                                        </div>
                                        <div class="swiper-slide">
                                            <figure class="thumb"><img th:src="@{/images/resource/products/table1.jpg}"
                                                                       alt="">
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Content Column -->
                    <div class="content-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">
                            <!-- Product name -->
                            <h3 th:text="${product.getProductName()}"></h3>

                            <!-- Rating -->
                            <div class="rating" th:text="'Rating: ' + ${product.getAverageRating()}"></div>

                            <!-- Price -->
                            <div class="price" th:text="'$' + ${product.getPrice()}"></div>

                            <!-- Category -->
                            <div class="categories" th:text="'Category: ' + ${category.getCategoryName()}"></div>

                            <!-- Dimensions -->
                            <div class="categories" th:text="'Dimensions: ' + ${product.getDimensions()}"></div>

                            <!-- Social Box -->
                            <ul class="social-box">
                                <li class="share">Share:</li>
                                <li><a href="https://www.facebook.com/" class="fa fa-facebook-f"></a></li>
                                <li><a href="https://www.twitter.com/" class="fa fa-twitter"></a></li>
                                <li><a href="https://www.linkedin.com/" class="fa fa-linkedin"></a></li>
                            </ul>

                            <form th:method="post" th:action="@{/cart}">
                                <input type="hidden" id="cartProductID" name="cartProductID"
                                       th:value="${product.getProductID()}"/>

                                <div class="d-flex align-items-center flex-wrap">
                                    <!-- Quantity Box -->
                                    <div class="quantity-box">
                                        <div class="item-quantity">
                                            <input class="qty-spinner" type="text" value="1" name="cartQuantity">
                                        </div>
                                    </div>
                                    <br>
                                    <!-- Button Box -->
                                    <div class="button-box">
                                        <button type="submit" class="theme-btn btn-style-one">Add to cart</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
            <!-- End Upper Box -->

            <!-- Lower Box -->
            <br>
            <br>
            <br>
            <div class="lower-box">

                <!-- Product Info Tabs -->
                <div class="product-info-tabs">
                    <!-- Product Tabs -->
                    <div class="prod-tabs tabs-box">
                        <!-- Tab Buttons -->
                        <ul class="tab-btns tab-buttons clearfix">
                            <li data-tab="#prod-details" class="tab-btn active-btn">Product Details</li>
                            <li data-tab="#prod-review" class="tab-btn">Reviews</li>
                        </ul>
                        <!-- Tabs Container -->
                        <div class="tabs-content">
                            <!-- Tab / Active Tab -->
                            <div class="tab active-tab" id="prod-details">
                                <div class="content">
                                    <p th:text="${product.getProductDescription()}"></p>
                                </div>
                            </div>

                            <!--Tab-->
                            <div class="tab" id="prod-review">
                                <!--Reviews Container-->
                                <div class="comments-area">
                                    <!--Comment Box-->
                                    <div class="comment-box" th:each="review: ${reviews}">
                                        <div class="comment">
                                            <div class="comment-inner">
                                                <div class="comment-info clearfix"
                                                     th:text="${review.getUserTableID().getFirstname()} + ' - ' + ${review.getReviewDate()}"></div>
                                                <div class="rating" th:text="'Rate: ' + ${review.getRating()}"></div>
                                                <div class="text" th:text="${review.getReviewComment()}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Comment Form -->
                                <div class="shop-comment-form">
                                    <h4>Add your review</h4>
                                    <form method="post" action="/review">
                                        <input type="hidden" id="productID" th:name="productID" th:value="${product.getProductID()}"/>
                                        <div class="rating-box">
                                            <div class="text"> Your rating:</div>
                                            <div class="rating">
                                                <input id="input-rating1" th:name="rating" type="radio" value="1"/>
                                                <label for="input-rating1">1 <span class="fa fa-star"></span></label>
                                            </div>
                                            <div class="rating">
                                                <input id="input-rating2" th:name="rating" type="radio" value="2"/>
                                                <label for="input-rating2">2 <span class="fa fa-star"></span></label>
                                            </div>
                                            <div class="rating">
                                                <input id="input-rating3" th:name="rating" type="radio" value="3"/>
                                                <label for="input-rating3">3 <span class="fa fa-star"></span></label>
                                            </div>
                                            <div class="rating">
                                                <input id="input-rating4" th:name="rating" type="radio" value="4"/>
                                                <label for="input-rating4">4 <span class="fa fa-star"></span></label>
                                            </div>
                                            <div class="rating">
                                                <input id="input-rating5" th:name="rating" type="radio" value="5" checked/>
                                                <label for="input-rating5">5 <span class="fa fa-star"></span></label>
                                            </div>
                                        </div>

                                        <div class="row clearfix">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                                <label>Your comment</label>
                                                <textarea th:name="reviewComment" placeholder="" required></textarea>
                                            </div>

                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 form-group">
                                                <button type="submit" class="theme-btn btn-style-four">
                                                    Publish
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Product Info Tabs-->

            </div>
            <!-- End Lower Box -->

        </div>
    </section>
    <br><br>
    <!-- End Shop Page Section -->

    <!-- Footer -->
    <footer class="main-footer style-three" th:insert="~{blocks/footer :: footer}"></footer>
    <!-- End Footer -->
</div>

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" th:style="|background:url(@{/images/icons/arrow-up.jpg});|"
     data-target="html"></div>
<!-- End Scroll To Top -->

<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/magnific-popup.min.js}"></script>
<script type="text/javascript" th:src="@{/js/touchspin.js}"></script>
<script type="text/javascript" th:src="@{/js/swiper.min.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>
</html>