<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- Head -->
<head th:insert="~{blocks/head :: head}"></head>
<!-- End Head -->

<body>

<div class="page-wrapper">

    <!-- Header -->
    <header class="main-header header-style-three" th:insert="~{blocks/header :: header}"></header>
    <!-- End Header -->

    <div class="sidebar-page-container" th:if="${#lists.size(shopItems)} == 0">
        <h4 class="h4-custom-class-margin">There is no products</h4>
    </div>
    <!-- Sidebar Page Container -->
    <div class="sidebar-page-container" th:if="${#lists.size(shopItems)} != 0">
        <div class="auto-container">
            <div class="row clearfix" style="display: flex; flex-wrap: nowrap;">
                <!-- Content Side -->
                <div class="content-side col-lg-9 col-md-12 col-sm-12">
                    <div class="shops-outer">
                        <div class="row clearfix">
                            <div th:each="shopItem: ${shopItems}" class="shop-item col-lg-4 col-md-4 col-sm-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a th:href="'/products/' + ${shopItem.getProductID()}"><img
                                                th:src="${'data:image/png;base64,' + shopItem.getImageString()}"
                                                alt=""/></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="rating"
                                             th:text="'Rating: ' + ${shopItem.getAverageRating()}"></div>
                                        <h6><a th:href="'/products/' + ${shopItem.getProductID()}"
                                               th:text="${shopItem.getProductName()}"></a>
                                        </h6>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="price" th:text="'$' + ${shopItem.getPrice()}"></div>
                                            <!-- Quantity Box -->
                                            <div sec:authorize="isAuthenticated()">
                                                <form th:method="post" th:action="@{/cart}">
                                                    <div class="quantity-box">
                                                        <div class="item-quantity">
                                                            <input type="hidden" id="cartProductID"
                                                                   name="cartProductID"
                                                                   th:value="${shopItem.getProductID()}"/>
                                                            <input type="number" min="1" value="1"
                                                                   name="cartQuantity" class="input-quantity-shop">
                                                        </div>
                                                    </div>
                                                    <button type="submit" style="width: 100%;">Add</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pagination -->
                    <form th:method="post" th:action="@{${thAction}}">
                        <input type="hidden" name="filter" th:value="${filter}"/>
                        <input type="hidden" name="from" th:value="${from}"/>
                        <input type="hidden" name="to" th:value="${to}"/>
                        <input type="hidden" name="color" th:value="${color}"/>
                        <div hidden th:each="materialEl : ${materialMap}">
                            <input th:value="${materialEl.key}" type="checkbox" name="materials"
                                   th:checked="${materialEl.value}">
                        </div>

                        <div class="pagination">
                            <button th:if="${currentPage} != 1" type="submit" name="page"
                                    th:value="${currentPage} - 1">&laquo;
                            </button>

                            <input th:each="page : ${pages}" type="submit" name="page"
                                   th:value="${page.key}" class="" th:classappend="${page.value}  ? active"/>

                            <button th:if="${maxPage} != ${currentPage}" type="submit" name="page"
                                    th:value="${currentPage} + 1">&raquo;
                            </button>

                            <button type="submit" name="size" th:value="${countOfAllProducts}">
                                All products
                            </button>
                        </div>
                    </form>
                    <!-- End Pagination -->
                </div>

                <form th:method="post" th:action="@{${thAction}}">
                    <!-- Sidebar Side -->
                    <div class="sidebar-side col-lg-3 col-md-12 col-sm-12">
                        <aside class="sidebar sticky-top">

                            <div class="filter-box">
                                <div class="sidebar-title">
                                    <h6>Sorting</h6>
                                </div>
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <div class="right-box d-flex">

                                        <div class="form-group">
                                            <select th:name="filter" class="custom-select-box">
                                                <option th:each="filters : ${filterList}" th:text="${filters}"
                                                        th:value="${filters}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="sidebar-widget category-widget">
                                <div class="widget-content">
                                    <div class="sidebar-title">
                                        <h6>Price</h6>
                                    </div>
                                    <input type="number" min="0" th:name="from" placeholder="From"
                                           class="input-price-shop" th:value="${from}">
                                    <input type="number" min="0" th:name="to" placeholder="To"
                                           class="input-price-shop" th:value="${to}"><br>
                                </div>
                            </div>
                            <br>

                            <!-- Colors Widget -->
                            <div class="sidebar-widget colors-widget">
                                <div class="widget-content">
                                    <!-- Sidebar Title -->
                                    <div class="sidebar-title">
                                        <h6>Colors</h6>
                                    </div>
                                    <div class="sel-colors">
                                        <div th:each="colors : ${colorMap}" class="color-box">
                                            <input type="radio" th:name="color" th:value="${colors.key}"
                                                   th:id="${colors.key}" th:checked="${colors.key} == ${color}">
                                            <label th:style="|${colors.value};|" th:for="${colors.key}"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <!-- Material Widget -->
                            <div class="sidebar-widget brands-widget">
                                <div class="widget-content">
                                    <div class="sidebar-title">
                                        <h6>Material</h6>
                                    </div>
                                    <div class="brands-list">
                                        <div th:each="materialEl : ${materialMap}" class="form-group">
                                            <div class="check-box">
                                                <input th:value="${materialEl.key}" type="checkbox" name="materials"
                                                       th:id="${materialEl.key}" th:checked="${materialEl.value}">
                                                <label th:for="${materialEl.key}" th:text="${materialEl.key}"></label>
                                            </div>
                                        </div>
                                        <br>
                                        <button class="theme-btn btn-style-submit-one" type="submit">Submit</button>
                                    </div>

                                </div>
                            </div>
                        </aside>
                    </div>
                </form>

            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="main-footer style-three" th:insert="~{blocks/footer :: footer}"></footer>
    <!-- End Footer -->
</div>

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" th:style="|background:url(@{/images/icons/arrow-up.jpg});|"
     data-target="html"></div>
<!-- End Scroll To Top -->

<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>
</html>