<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->
<head th:insert="~{blocks/head :: head}"></head>
<!-- End Head -->

<body>

<div class="page-wrapper">

    <!-- Header -->
    <header class="main-header header-style-three" th:insert="~{blocks/header :: header}"></header>
    <!-- End Header -->

    <!-- Sidebar Page Container -->
    <div class="sidebar-page-container">
        <div class="auto-container" >
            <div class="row clearfix" style="display: flex; flex-wrap: nowrap;">

                <!-- Content Side -->
                <div class="content-side col-lg-9 col-md-12 col-sm-12">
                    <div class="shops-outer">
                        <div class="row clearfix">
                            <!-- Shop Item -->
                            <div th:each="product: ${products}" class="shop-item col-lg-4 col-md-4 col-sm-12">
                                <div class="inner-box">
                                    <div class="image">
                                        <a th:href="'/products/' + ${product.getProductID()}"><img
                                                th:src="@{/images/resource/products/table1.jpg}"
                                                alt=""/></a>
                                    </div>
                                    <div class="lower-content">
                                        <div class="rating"
                                             th:text="'Rating: ' + ${product.getAverageRating()}"></div>
                                        <h6><a th:href="'/products/' + ${product.getProductID()}"
                                               th:text="${product.getProductName()}">Table</a>
                                        </h6>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="price" th:text="'$' + ${product.getPrice()}"></div>
                                            <!-- Quantity Box -->
                                            <form th:method="post" th:action="@{/cart}">
                                                <div class="quantity-box">
                                                    <div class="item-quantity">
                                                        <input type="hidden" id="cartProductID" name="cartProductID"
                                                               th:value="${product.getProductID()}"/>
                                                        <input class="qty-spinner" type="text" value="1"
                                                               name="cartQuantity">
                                                    </div>
                                                </div>
                                                <button type="submit" style="width: 100%;">Add</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <form th:method="post" th:action="@{${thAction}}">
                    <!-- Sidebar Side -->
                    <div class="sidebar-side col-lg-3 col-md-12 col-sm-12">
                        <aside class="sidebar sticky-top">

                            <div class="filter-box">
                                <div class="d-flex justify-content-between align-items-center flex-wrap">
                                    <div class="right-box d-flex">
                                        <div class="form-group">
                                            <select th:name="filter" class="custom-select-box">
                                                <option th:each="filters : ${filterList}" th:text="${filters}"
                                                        th:value="${filters}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="sidebar-widget category-widget">
                                <div class="widget-content">
                                    <div class="sidebar-title">
                                        <h6>Price</h6>
                                    </div>
                                    <input th:name="from" placeholder="From" style="border: revert;">
                                    <input th:name="to" placeholder="To" style="border: revert;"><br>
                                </div>
                            </div>
                            <br>

                            <!-- Colors Widget -->
                            <div class="sidebar-widget colors-widget">
                                <div class="widget-content">
                                    <!-- Sidebar Title -->
                                    <div class="sidebar-title">
                                        <h6>Colors</h6>
                                    </div>
                                    <div class="sel-colors">
                                        <div th:each="colors : ${colorMap}" class="color-box">
                                            <input type="radio" th:name="color" th:value="${colors.key}"
                                                   th:id="${colors.key}">
                                            <label th:style="|${colors.value};|" th:for="${colors.key}"></label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <!-- Material Widget -->
                            <div class="sidebar-widget brands-widget">
                                <div class="widget-content">
                                    <div class="sidebar-title">
                                        <h6>Material</h6>
                                    </div>
                                    <div class="brands-list">
                                        <div th:each="materialListEl : ${materialList}" class="form-group">
                                            <div class="check-box">
                                                <input th:value="${materialListEl}" type="checkbox" name="materials"
                                                       th:id="${materialListEl}">
                                                <label th:for="${materialListEl}" th:text="${materialListEl}"></label>
                                            </div>
                                        </div>
                                        <br>
                                        <button class="theme-btn btn-style-submit-one" type="submit">Submit</button>
                                    </div>

                                </div>
                            </div>
                        </aside>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <footer class="main-footer style-three" th:insert="~{blocks/footer :: footer}"></footer>
    <!-- End Footer -->
</div>

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" th:style="|background:url(@{/images/icons/arrow-up.jpg});|"
     data-target="html"></div>
<!-- End Scroll To Top -->

<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/touchspin.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.js}"></script>
<script type="text/javascript" th:src="@{/js/script.js}"></script>

</body>
</html>