<div th:fragment="footer">
    <div class="auto-container">
        <div class="footer-bottom">
            <div class="d-flex justify-content-between align-items-center flex-wrap">
                <div class="copyright"><span>&copy; 2024</span> Powered by Eugene. All Rights Reserved.</div>
                <div class="footer-column col-lg-3">
                    <div class="footer-widget links-widget">
                        <ul class="contact-list">
                            <li><span class="icon" th:style="|background:url(@{/images/icons/map.jpg});|"></span>Batumi, Georgia, 6000</li>
                            <li><span class="icon" th:style="|background:url(@{/images/icons/call.jpg});|"></span>+995111111111</li>
                        </ul>
                    </div>
                </div>
                <div class="email-box">
                    <a href="mailto:support@gmail.com"><span class="icon" th:style="|background:url(@{/images/icons/mail.jpg});padding-left: 22px;|"></span>support@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
</div>