<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="header">
    <div class="header-upper">
        <div class="auto-container">
            <div class="inner-container d-flex justify-content-between align-items-center flex-wrap">
                <!-- Logo Box -->
                <div class="logo-box d-flex align-items-center">
                    <div class="logo">
                        <a href="/"><img th:src="@{/images/logo.jpg}" alt=""></a>
                    </div>
                </div>
                <!-- Search Box -->
                <div class="search-box">
                    <form method="post" th:action="@{${thAction}}">
                        <div class="form-group">
                            <input th:name="search" type="search" placeholder="Search Product" required>
                            <button type="submit" th:style="|background:url(@{/images/icons/search.jpg});|"></button>
                        </div>
                    </form>
                </div>
                <!-- Options Box -->
                <div class="options-box d-flex align-items-center">

                    <div sec:authorize="!isAuthenticated()" class="login-icon">
                        <a href="/login">Login</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()" class="login-icon">
                        <a href="/signup">Sign up</a>
                    </div>

                    <div sec:authorize="hasRole('ADMIN')" class="login-icon">
                        <a href="/admin">Admin panel</a>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="login-icon">
                        <a href="/logout">Logout</a>
                    </div>
                    <a sec:authorize="isAuthenticated()" href="/account">
                        <span class="icon"><img th:src="@{/images/icons/account.jpg}" alt=""/></span>
                    </a>
                    <div sec:authorize="isAuthenticated()" class="cart-box-two">
                        <a href="/cart"><span class="icon"><img th:src="@{/images/icons/cart.jpg}" alt=""/></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-lower">
        <div class="auto-container">
            <div class="nav-outer d-flex justify-content-between align-items-center flex-wrap">
                <div class="select-categories">
                    <div class="category"> Categories</div>
                    <ul class="categories-list">
                        <li><a th:href="@{/products}">All products</a></li>
                        <li th:each="category: ${categories}"><a
                                th:href="@{'/products/category/' + ${category.getCategoryName()}}"
                                th:text="${category.getCategoryName()}"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>